<launch>
  
  <arg name="mission" default="integrate"/>
  
    <node pkg="turtlebot3_autorace_core" type="$(arg mission)_core_node_controller" name="$(arg mission)_core_node_controller" output="screen"/>
    <node pkg="turtlebot3_autorace_core" type="$(arg mission)_core_mode_decider" name="$(arg mission)_core_mode_decider" output="screen"/>
  
</launch>